body{
    
    display: flex;
    background-color: #64a4fb;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    top: 100%; 
   
}

.Question{
    
    align-items: center;
    left: 50px;
    font-size: 50px;
}
.landing_Page_items{
    background-color:#046cfc;
    
    position: relative; 
    display: flex;
    justify-content: center;
    border-radius: 15px;
    width: 500px;
    height: 350px;

}

.imgbox{
    position: relative;
    width: 100%;
    top: 70px;
    height: 25%;
}
.imgbox img{
    position: relative;
    height: 100%;
    border-radius: 25%;
    border-color:violet;
    
    width: calc(130% - 340px);
    top: -100px;
    bottom: -50px;
    right: 50px;
    transform: rotate(180 deg);
    animation:animateUser 8s linear infinite;
    
    
}

@keyframes animateUser{
    50%{
        right: 20px;
        top: -90px;
    }
}