body{
    
    position: relative;
width: 375px;
height: 88px;
left: 0px;
top: 0px;
background: #000000;
}
.questionheader{
    align-items: center;
}
.Questions{
    display: flex;
    justify-items: center;
    flex-direction: column;
    font-size: 25px; 

}
#q4{
    font-size: 25px;
}
.Button{
    font-size: 40px;
    border-radius: 15px;
    width: 200px;
}
.Welcome{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    bottom: 0;
}

.next-btn{
    bottom: 0;
    color:#000000
}
label{width: 208px;
    height: 24px;
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    /* identical to box height, or 24px */
    
    letter-spacing: 0.04em;
    
    /* fg/1 */
    
    color: #F0F0F0;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;}
    h1{position: absolute;
        width: 343px;
        height: 151px;
        left: 16px;
        top: 0px;
        
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        
        /* fg/1 */
        
        color: #F0F0F0;
        }
        h2{width: 208px;
            height: 24px;
            
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 120%;
            /* identical to box height, or 24px */
            
            letter-spacing: 0.04em;
            
            /* fg/1 */
            
            color: #F0F0F0;
            
            
            /* Inside auto layout */
            
            flex: none;
            order: 0;
            flex-grow: 0;}
        input{display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 12px;
            gap: 8px;
            
            width: 343px;
            height: 55px;
            
            /* fg/5 */
            
            background: #404040;
            border-radius: 8px;
            
            /* Inside auto layout */
            
            flex: none;
            order: 1;
            flex-grow: 0;}
            
            select{display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 2px;
                isolation: isolate;
                
                
                width: 341px;
                height: 30px;
                left: 15px;
                top: 633px;}
                button{display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 16px 100px;
                    gap: 4px;
                    
                    
                    left: 13.07%;
                    right: 12.27%;
                    top: 89.41%;
                    bottom: 5.17%;
                    
                    /* vp/2 */
                    
                    background: #5957FF;
                    border-radius: 39.5px;}
                    
    
                    h3{position: absolute;
                        width: 132px;
                        height: 26px;
                        
                        
                        
                        font-family: 'Work Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 22px;
                        line-height: 120%;
                        /* or 26px */
                        
                        
                        
                        /* fg/1 */
                        
                        color: #F0F0F0;
                    }
                    
                        p{
                            align:center;
                            width: 254px;
                            height: 66px;
                            left: 60px;
                            top: 170px;
                            
                            font-family: 'Work Sans';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 120%;
                            /* or 22px */
                            
                            text-align: center;
                            letter-spacing: 0.04em;
                            
                            /* fg/1 */
                            
                            color: #F0F0F0;}
                            h4{
                                width: 254px;
                                height: 22px;
                                left: 56px;
                                top: 353px;
                                
                                font-family: 'Work Sans';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 120%;
                                /* identical to box height, or 22px */
                                
                                text-align: center;
                                letter-spacing: 0.04em;
                                
                                /* fg/1 */
                                
                                color: #F0F0F0;}

                    
