body{
    align-items: center;
}
.questionheader{
    align-items: center;
}
.Questions{
    display: flex;
    justify-items: center;
    flex-direction: column;
    font-size: 25px; 

}
#q4{
    font-size: 25px;
}
.Button{
    font-size: 40px;
    border-radius: 15px;
    width: 200px;
}
.Welcome{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
