<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>401K</h1>
        <p>A 401(k) is a retirement savings plan offered by employers that allows employees to save and invest a portion of their pre-tax income for retirement. Contributions are typically made through automatic payroll deductions, and the funds grow tax-deferred until withdrawal during retirement. 401(k)s are a popular retirement savings vehicle, offering individuals the opportunity to build long-term savings and take advantage of potential investment growth, while also providing potential tax benefits.</p>

        <button class="Button2">Profile</button>
        <button class="Button2">Challenges</button>
    </div>

</body>
</html>