<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style.css">
    <title>FinShark</title>
</head>
<body>
    <div class="landing_Page_items">
        <div class="header">
            <h2 class="Question">Question</h2>
            <h1>Hello {{ user }}!</h1>
                <input type="checkbox" class="vehicle1" name="vehicle1" value="">
                <label for="Answer1" class="Answer"> Answer1</label><br><br>
                
                <input type="checkbox" id="vehicle2" name="vehicle2" value="">
                <label for="Answer2" class="Answer"> Answer2</label><br><br>
                
                <input type="checkbox" id="vehicle3" name="vehicle3" value="">
                <label for="Answer3" class="Answer"> Answer3</label><br><br>
                
                <input type="checkbox" id="vehicle3" name="vehicle3" value="">
                <label for="Answer3" class="Answer"> Answer4</label><br><br>

           <input type="submit" value="Submit">

           <a href="/profile/s">profile</a>
            
                
                

            
        </div>
    </div>
</body>
</html>