<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="Main">
        <h2>QUestion</h2>
        <div>
            <ul>What is your name? </ul>
            <input type="text">

            <ul>What is your name? </ul>
            <input type="text">

            <ul>What is your name? </ul>
            <input type="text">
            
            <ul>
                <label for="goals">What are your finance goals</label>
                <select name="What are your goals" id="">
                   <ul>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                   </ul>
                </select>
            </ul>
    
    
        </div>
    </div>
</body>
</html>