<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>FinShark</title>
</head>
<body>
    <div>
        <div class="user_info">
            <h1>Hi, {{name}}!</h1>
            <p>Based on your answers, your savings estimate after 10 years is: </p>
            <h1>{{Total}}</h1>
        </div>
        <div class="Dashboard_items">
            <button class="Button2">Set Savings Goal</button>
            <button class="Button2">Set Depbt reduction goal</button>
            <span>New Weekly Challenge</span>
            <button class="Button2">30 Day Saving</button>
            <!--<form action="Challenges.html"><h2>Challenges</h2></form>
            <form action="Calulator.html"><h2 fo>Calculator</h2></form>
            <form action="Tracker.html"><h2>Goal Tracker</h2></form>
            <form action="Achivements.html"><h2>Achivements</h2></form>*/-->

        </div>

    </div>
</body>
</html>