<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>FinShark</title>
</head>
<body>
    <div>
        <div>
            <h1>User Name</h1>
            <h3>Score</h3>
        </div>
        <div>
            <form action="Challenges.html"><h2>Challenges</h2></form>
            <form action="Calulator.html"><h2 fo>Calculator</h2></form>
            <form action="Tracker.html"><h2>Goal Tracker</h2></form>
            <form action="Achivements.html"><h2>Achivements</h2></form>

        </div>

    </div>
</body>
</html>