
<!DOCTYPE html>
<html>
<head>
    <title>Savings Quiz</title>
</head>
<body>
    <h1>Welcome to the Savings Quiz!</h1>
    <form method="POST" action="Achievments" method="POST">
        <ol>
            <li>
                <p>What is the purpose of having a savings account?</p>
                <input type="radio" id="q1a" name="q1" value="a">
                <label for="q1a">A) To make purchases</label><br>
                <input type="radio" id="q1b" name="q1" value="b">
                <label for="q1b">B) To save money</label><br>
                <input type="radio" id="q1c" name="q1" value="c">
                <label for="q1c">C) To invest in stocks</label>
            </li>
            <li>
                <p>What is compound interest?</p>
                <input type="radio" id="q2a" name="q2" value="a">
                <label for="q2a">A) Interest earned only on the principal amount</label><br>
                <input type="radio" id="q2b" name="q2" value="b">
                <label for="q2b">B) Interest earned on both the principal and previously earned interest</label><br>
                <input type="radio" id="q2c" name="q2" value="c">
                <label for="q2c">C) Interest paid to the bank by the borrower</label>
            </li>
            <li>
                <p>What is the recommended amount of savings for emergencies?</p>
                <input type="radio" id="q3a" name="q3" value="a">
                <label for="q3a">A) One month's worth of living expenses</label><br>
                <input type="radio" id="q3b" name="q3" value="b">
                <label for="q3b">B) Six months' worth of living expenses</label><br>
                <input type="radio" id="q3c" name="q3" value="c">
                <label for="q3c">C) Twelve months' worth of living expenses</label>
            </li>
            <li>
                <p>What is a 401(k) plan?</p>
                <input type="radio" id="q4a" name="q4" value="a">
                <label for="q4a">A) A savings account for emergencies</label><br>
                <input type="radio" id="q4b" name="q4" value="b">
                <label for="q4b">B) A retirement savings plan sponsored by an employer</label><br>
                <input type="radio" id="q4c" name="q4" value="c">
                <label for="q4c">C) A high-risk investment in the stock market</label>
            </li>
            
            <br><button>Submit</button>
